.news-container .card-title {
  background: rgba(0, 0, 0, 0.7);
}
.progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}

.news-container .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
}

nav .brand-logo {
  display: flex;
  align-items: center;
}

nav img {
  margin-right: 15px;
  fill: #fff !important;
  stroke: #fff !important;
}

.card .card-image {
  max-height: 350px;
  min-height: 200px;
  overflow: hidden;
}

.input-field {
  margin-top: 35px;
}

.search-controls {
  margin-top: 50px;
  margin-bottom: 30px;
}

.progress {
  top: -9px;
}

.empty {
  font-size: 30px;
  grid-template-columns: 2fr;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
  color: #F44336;
}